*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: sans-serif;
    font-size: 14px;
}

body{
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    background-color: rgba(128, 128, 128, 0.082);
}

header{
    display: flex;
    align-items: center;
    justify-content:space-around;
    width: 100%;
    border: 1px solid rgba(128, 128, 128, 0.562);
    background-color: white;
    position: fixed;
    top:0;
    left: 0;

}

.instagram-logo{
    height: 3rem;
    margin-left: 8%;
}

.pesquisar{
    height: 50%;
    border: 1px solid transparent;
    background-color: rgba(128, 128, 128, 0.164);
    border-radius: 5%;
}

.menu{
    width: 200px;
    height: 100%;
    margin-right: 8%;
}

.menu a img{
    width: 18%;
}

.profileMenu img{
    border-radius: 50%;
}

.page{
    margin-top: 80px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.info{
    width: 20%;
    padding: 2px 12px 2px 10px;
    display: flex;
    border: 1px solid rgba(128, 128, 128, 0.562);
    border-radius: 10px;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    background-color: white;
    position: fixed;
    top: 25%;
    right: 100px;
}

.info a{
    color: rgb(0, 55, 255);
}

.profile{
    display: flex;
    text-align: justify;
    align-items: center;
    flex-wrap: wrap;
}
.profileImg img{
    width: 50px;
    border-radius: 50%;
    margin-right: 8px;
}

.profile p{
    margin-bottom: 3px;
}

.profile p:nth-child(2){
    color: rgba(128, 128, 128, 0.475);
}

.instagram-phone{
    width: 25%;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.post{
    width: 50%;
    padding: 1%;
    display: flex;
    border: 1px solid rgba(128, 128, 128, 0.562);
    border-radius: 10px;
    flex-direction: column;
    background-color: white;
    margin-right: 25%;
}

.profilePost{
    display: flex;
    justify-content: start;
    align-items: center;
}

.profilePost p{
    margin-left: 10px;
}

.post img{
    display: flex;
    justify-content: center;
    align-items: center;

}

.imgPost{
    width: auto;
}

.interacoes{
    display: flex;
    justify-content: start;
    align-items: center;

}

.interacoes a img{
    margin-top: 10%;
    width: 30px;
    height: 100%;
}

.interacoes button img{
    margin-top: 10%;
    width: 30px;
    height: 100%;
}

.interacoes button{
    border: 1px solid transparent;
    background-color: white;
    margin-right: 10px;
    cursor: pointer;
}

.activity{
    margin-right: 10px;
}

.title{
    margin-top: 2%;
    display: flex;
    width: 100%;
}

.comments{
    margin-top: 2%;
    display: flex;
    width: 100%;
}

.comentar{
    height: 50%;
    border: 1px solid transparent;
    background-color: rgba(128, 128, 128, 0.164);
    border-radius: 5%;
}

@media(max-width:1250px){
    .info{
        display: none;
    }

    .post{
        width: 100%;
        margin-left: 5%;
        margin-right: 5%;
    }

    .pesquisar{
        display: none;
    }

    .instagram-phone{
        width: 30%;
        margin: auto;
        display: flex;
        justify-content: center;
        align-items: center;
    }
}

@media(max-width: 900px) {
    .profile{
        display: none;
    }

    .post{
        width: 100%;
        margin-left: 10%;
        margin-right: 10%;
    }

    .pesquisar{
        display: none;
    }

    .instagram-phone{
        width: 80%;
        margin: auto;
        display: flex;
        justify-content: center;
        align-items: center;
    }
}

@media(max-width: 470px){
    .post{
        width: 100%;
        margin-left: 0;
        margin-right: 0;
    }

    .instagram-logo{
        height: 2rem;
        margin-left: 0%;
    }
    
    .menu a img{
        width: 18%;
    }
}


